.share-page {
    font-size: medium;
    text-align: center;
    background: #16a085;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5 * 1 0;

    a {
        font-weight: 700;
        color: #fff;
        margin-left: 10px;

        &:hover {
            border-bottom: 1px dashed #fff;
        }
    }
}

.quora-content-embed-frame{
  width: 100% !important;
  height: 100% !important;
}

.image-caption {
  font-size: .85rem;
  font-style: normal;
  background-color: #fff;
  color: #7a7a7a;
  border-color: transparent;
  text-align: center;
  margin-top: -1rem;
}
